    <div class="single_page">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Admin panel</a></li>
            <li class="active">Category</li>
        </ol>
        <h1>Manage categories</h1>

        <div class="single_page_content">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Action</th>
                        <th>Cate title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ cates|raw }}
                    </tbody>
                </table>
            </div>
            <a href="/cate/create" class="center-block">
                <button class="btn btn-black">Create new category</button>
            </a>
        </div>
    </div>