<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | default("Love Simple Framework") }}</title>
    <link rel="stylesheet" href="{{ url }}assets/css/app.css">
    {% for css in assets['css'] %}
        <link rel="stylesheet" href="{{ url }}assets/css/{{ css }}">
    {% endfor %}
</head>
<body>

{{ include("layouts/nav.html") }}

<div class="container">
    {{ include(page) }}
</div>

{% for js in assets['js'] %}
    <script src="{{ url }}assets/js/{{ js }}"></script>
{% endfor %}

</body>
</html>