<div class="single_page">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Admin panel</a></li>
        <li class="active">Article</li>
    </ol>
    <h1>Add new article</h1>

    <div class="single_page_content">
        <form action="/article/{{ article.id }}" method="post" class="form-horizontal" role="form">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="article_title" class="col-md-2">Article title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="article_title" value="{{ article.article_title }}">
                </div>
            </div>

            <div class="form-group">
                <label for="article_title" class="col-md-2">Article info</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="article_info" rows="5">{{ article.article_info }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="article_title" class="col-md-2">Article content</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="article_content" id="ckeditor"
                              rows="30">{{ article.article_content }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="article_title" class="col-md-2">Category</label>
                <div class="col-sm-10">
                    <select class="form-control" name="cate_id">
                        {{ cates|raw }}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="article_title" class="col-md-2">Tags (seperate by comma ,)</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           name="tags"
                           value="{{ article.tags.pluck('tag_title').implode(',') }}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-black">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

