<div class="single_page">
    {{ breadcrumb|raw }}
    <h1>{{ article.article_title }}</h1>

    {% if(user == 'admin') %}
        {{ include('articles/parts/tool_article.html') }}
    {% endif %}

    <div class="post_commentbox">
        <span><i class="fa fa-calendar"></i>{{ article.created_at }}</span>
        {% if article.tags is not empty %}
            <i class="fa fa-tags"></i>
            {% for tag in article.tags %}
                <span>
                    <a href="{{ "#{url}tag/#{tag.tag_slug}" }}">{{ tag.tag_title }}</a>
                </span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="single_page_content">
        {{ article.article_content|raw }}
    </div>

    {{ include('articles/parts/related_articles.html') }}
</div>