<!-- start header section -->
<header id="header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_bottom">
                <div class="logo_area">
                    <a href="{{ url }}" class="logo">
                        Báo <span>24H</span>
                    </a>
                </div>
                <div class="add_banner">
                    <a href="#"><img src="{{url}}assets/img/addbanner_728x90_V1.jpg" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</header><!-- End header section -->