<div class="single_sidebar">
    <h2><span>Tin nổi bật</span></h2>
    <ul class="spost_nav">
        {% for article in popular_articles %}
        <li>
            <div class="media wow fadeInDown">
                <a href="{{ "#{url}chuyen-muc/#{article.cate.cate_slug}/#{article.article_slug}" }}" class="media-left">
                    <img alt="img" src="{{ article.article_img }}">
                </a>
                <div class="media-body">
                    <a href="{{ "#{url}chuyen-muc/#{article.cate.cate_slug}/#{article.article_slug}" }}" class="catg_title">
                        {{ article.article_title }}
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- start tab section -->
<div class="single_sidebar">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab"
                                                  data-toggle="tab">Chuyên mục</a></li>
        <li role="presentation"><a href="#video" aria-controls="profile" role="tab"
                                   data-toggle="tab">Tag</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="category">
            <ul>
            <ul>
                {% for cate in all_cates %}
                    <li class="cat-item">
                        <a href="{{ "#{url}chuyen-muc/#{cate.cate_slug}" }}">
                            {{ cate.cate_title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="video">
            <ul>
                {% for tag in all_tags %}
                    <li class="cat-item">
                        <a href="{{ "#{url}tag/#{tag.tag_slug}" }}">
                            {{ tag.tag_title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- End tab section -->

<!-- sponsor add -->
