<div class="single_post_content">
    <!-- Set up your HTML -->
    <div class="slick_slider">
        {% for article in slide_articles %}
        <div class="single_iteam">
            <a href="{{ "#{url}chuyen-muc/#{article.cate.cate_slug}/#{article.article_slug}" }}">
                <img src="{{ article.article_img }}" alt="img">
            </a>
            <div class="slider_article">
                <h2>
                    <a class="slider_tittle"
                       href="{{ "#{url}chuyen-muc/#{article.cate.cate_slug}/#{article.article_slug}" }}">
                        {{ article.article_title }}
                    </a>
                </h2>
                <p>{{ article.article_info }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
